name: "Deploy to ECS"
on:
  push:
    branches:
      - dev

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: Development

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Say "Hello, World!"
        run: echo "Hello, World!"
